/* ******** CAROUSEL ********/
.carousel__top{
    position: relative;
}
.carousel__overlay{
    background-size: cover;
    background-position: top center;
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding: 3em 0;
}
.carousel__overlay {
    background-image: url(../images/banner2.jpg);
}
.carousel__overlay.carousel__img2{
    background-image: url(../images/banner3.jpg);
  
}
.carousel__tile h5{
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
    color: #fff;
}
.carousel__tile{
    width: 50%;
}
.carousel__tile .btn{
    padding: 14px 30px;
    font-size: 16px;
    font-weight: 600;
    color: #060606;
    background: #fff;
    border-radius: 4px;
    border: none;
    transition: all .5s;
}
.carousel__tile .btn:hover{
    background: #ff6e65;
    color: #fff;
}
.carousel__tile .btn i{
    vertical-align: middle;
}
.carousel .owl-theme .owl-dots{
    position: absolute;
    right: 24px;
    bottom: 120px;
    background: none;
}
.carousel .owl-theme .owl-dots button{
    display: block;
}
.carousel .owl-theme .owl-dots .owl-dot.active span, .carousel .owl-theme .owl-dots .owl-dot:hover span{
    background: #ff6e65;
}
.carousel .owl-theme .owl-dots .owl-dot span{
    background: #fff;
    transition: all .5s;
    width: 12px;
    height: 12px;
    margin: 5px 2px;
}
.carousel__bottomItem i{
    font-size: 45px;
    color: #fff;
}

.carousel__bottomItem{
    padding: 50px 35px;
    border-radius: 8px;
}
.carousel__bottomItem a{
    font-size: 24px;
    margin-top: 25px;
    display: block;
    font-weight: 600;
    transition: all .4s;
    color:#cecece;
}
.carousel__bottomItem h4:hover a{
    color: #060606;
}
.carousel__bottom{
    margin-top: -4em;
    z-index: 100;
    position: relative;
}
.carousel__color1{
    background-color: #037ef3;
}
.carousel__color2{
    background-color: #ffc949;
}
.carousel__color3{
    background-color: #ff4f81;
}
.carousel__color4{
    background-color: #1ee697;
}

/******** WELCOME **********/

.welcome__item i{
    color: #0d369f;
    font-size: 30px;
    background: rgb(13 54 159 / 9%);
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}
.welcome__item a{
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: #060606;
}
.welcome__item a:hover{
    color: #ff4f81;
}
.welcome__item p{
    margin-top: 15px;
}

/*********** COURSES ***********/

.courses{
    background-color: #f8f9ff;
}
.courses__thumb img{
    display: block;
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.courses__details{
    position: absolute;
    top: 15px;
    left: 30px;
    right: 25px;
    bottom: -12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.courses__price{
    display: flex;
    justify-content: flex-end;
}


.courses__item .meta__list a{
    display: inline-block;
    background: #1DC295;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 10px;
    text-transform: capitalize;
    margin-right: 5px;
}
.courses__item .meta__list a:hover{
    color: #fff;
}
.courses__item .meta__list a:first-child{
    background: #FFA100;
}
.courses__item .meta__list a:nth-child(3){
    background-color: #037ef3;
}
.courses__price h6{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #ff6e65;
    box-shadow: 0px 8px 20px rgb(241 77 93 / 20%);
}
.courses__content{
    padding: 20px;
    border: 1px solid #eee;
    border-top: none;
    border-radius: 0 0 8px 8px;
    background-color: #fff;
}
.courses__item{
    transition: all .5s;
}
.courses__item:hover{
    box-shadow: 0px 15px 30px rgb(29 23 77 / 8%);
}

.courses__top ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.courses__top li{
    list-style: none;
    color: #060606;
}
.courses__top li i{
    color: #ff6e65;
}
.courses__body h4 a{
    font-size: 22px;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    color: #060606;
    transition: all .4s;
}
.courses__body h4:hover a{
    color: #ff6e65;
}

.courses__bottom{
    border-top: 1px solid #eee;
}
.courses__bottom .rate__list i{
    color: #ffc949;
    font-size: 15px;
}
.courses__bottom > a{
   color: #ff6e65; 
   font-size: 14px;
   font-weight: 600;
   transition: all .4s;
}
.courses__bottom > a:hover{
    color: #0d369f;
}
/*********** SERVICES ************/
.services .main {
    background-image: url(../images/bg3.jpg) ;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}
 .services .item {

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
 } 
 .feature-gd {
    background-color: white;
    padding: 30px 20px;
    border-radius: 10px;
 }
 .services .item .icon {
    font-size: 21px;
    color: #0d369f;
    background-color: #e9edf6;
    width: 60px;
    height: 60px;
    line-height: 58px;
    text-align: center;
    border-radius: 100%;
    margin-right: 10px;
 } 
/******************** NUMBER ******************/
.number .title-main {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
   
    
}
.number .title-main{
    position: relative;
    
 }
 .number .title-main::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 550px;
    border-bottom: 3px solid rgb(167, 167, 174);
    width: 5%;
   
 }
 .number .title-small{
    position: relative;
 }
 .number .title-small::before{
    content: '';
    position: absolute;
    top: -9px;
    left: 571px;
    border-bottom: 2px solid rgb(167, 167, 174);
    width: 5%;
 }
.number .title-main span {
    color: #ff6e65;
}
.number .stats .item-stat {
    font-size: 46px;
    font-weight: 600;
}
.number .stats .num {
    border-right: 1px solid #cecece;
}

/****************** FEEDBACK ********************/
.feedback .title-main {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
   
    
}
.feedback .title-main span {
    color: #ff6e65;
}
.feedback .title-main{
    position: relative;
    
 }
 .feedback .title-main::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 550px;
    border-bottom: 3px solid rgb(167, 167, 174);
    width: 5%;
   
 }
 .feedback .content{
    position: relative;
 }
 .feedback .content::before{
    content: '';
    position: absolute;
    top: -89px;
    left: 583px;
    border-bottom: 2px solid rgb(167, 167, 174);
    width: 5%;
 }

 .feedback .grid{
    padding: 25px;
    border-radius: 15px;
    border: 1px black;
    box-shadow: 0 10px 50px #dadae0;
 }
.feedback .sub span {
    font-size: 40px;
    color: #ff6e65;
}
 .feedback .person .img img {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100%;
    margin-right: 20px;
 }
 .feedback .review {
    line-height: 10px;
    margin-top: 5px;
 }
 .feedback .review h5 {
    font-weight: 600;
    line-height: 16px;
 }
 .feedback .review p {
    font-size: 13px;
    color: #707070;
 }

 /**************************** TEACHER ********************/
 .teacher .container .title-main h3 {
    font-size: 40px;
    line-height: 55px;
    font-weight: 600;
}
.teacher .container{
    margin-bottom: 50px;
}
.teacher .container .title-main span {
    color: #ff6e65;
}
.teacher-item{
    padding: 10px;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    background: #fff;
    border-radius: 8px;
}
.teacher .social{
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.teacher .social img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.sminfo{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -227px;
    margin: 0;
    background: rgb(8 8 8 / 29%);
    padding: 20px 0;
    transition: all .5s;
}
.teacher-item:hover .sminfo{
    bottom: 0;
}
.sminfo a{
    width: 28px;
    height: 28px;
    line-height: 28px;
    background: #FFF;
    display: inline-block;
    border-radius: 50%;
}
.sminfo a i{
    color: #0d369f;
    font-size: 14px;
}
.sminfo a:hover{
    opacity: 0.8;
}
.teacher .people h5 a{
    color: #060606;
    font-weight: 600;
    transition: all .5s;
}
.teacher .people h5:hover a{
    color: #ff6e65;
}
.teacher .people small{
    font-weight: 400;
    font-size: 80%;
    color: #707070;
}

  /********************* ABOUT **************/
.about .container .des {
    font-weight: 500;
    line-height: 1.2;
}  
.about .btn {
    border-radius: 5px;
    color: white;
    background-color: #0d369f;
    padding: 15px 30px;
    text-decoration: none;
    margin-top: 30px;
}

.about .btn:hover {
    background-color: #ff6e65;
}
